<div>
  <ul *ngIf="cartProductList.length > 0">
    <li *ngFor="let product of cartProductList">
      <img [src]="product.img" [alt]="product.name" />
      <div>
        <h3 class="title five">{{ product.name }}</h3>
        <span class="price small">{{
          product.price.toLocaleString("pt-BR", {
            style: "currency",
            currency: "BRL"
          })
        }}</span>
        <button (click)="handleRemove(product.id)">Remover</button>
      </div>
    </li>
  </ul>
  <p *ngIf="cartProductList.length === 0">Carrinho vazio.</p>
  <div>
    <p class="price small">
      Total:
      <strong>{{
        total.toLocaleString("pt-BR", { style: "currency", currency: "BRL" })
      }}</strong>
    </p>
  </div>
</div>
